.list-container {
  margin: 24px 0;
}
.card-container {
  margin-bottom: 24px;
}
.spinner-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.pagination {
  justify-content: center;
}
.no-data {
  text-align: center;
}
