@import "breakpoints";
@import "variables";

.filers-container {
  width: 100%;
  padding: 24px 0;
  border-bottom: 1px solid #ced4da;
}
.form {
  display: grid;
  grid-gap: 16px;
}
.search-btn {
  height: 40px;
  font-size: 13px;
  color: #fff;
  width: 100%;
}
@include media-breakpoint-up("md") {
  .form {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
  }
}
@include media-breakpoint-up("lg") {
  .form {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    align-items: flex-end;
  }
}
